:host{
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-color: #dee2e6;
  --bs-border-radius: 0.375rem;
}

*, ::after, ::before{
  box-sizing: border-box;
}
button, input, select, textarea{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.my-card-wrapper{
  width: 600px;
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ccc;
  display: inline-block;
  font-family: "system-ui";
}
.card-custom{
  width: 250px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(102,15,15);
}
button{
  border: none;
  cursor: pointer;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #008cba;
  margin-right: 30px;
}
.btn-react{
  background-color: #f44336;
}

.my-input-textbox{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus{
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
  }
}
